---
const { time } = Astro.props;
const date = new Date(time);
---

<div>
    <p>Started {date.toISOString()}</p>
    <p>Finished {new Date().toISOString()}</p>
    <p>Took {new Date().getTime() - date.getTime()}ms</p>
</div>
